html
{
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body
{
	height: 100%;
	min-height: 100%;
	margin: 0;
}

#divToolbox
{
	width: 100%;
	height: 130px;
	padding-top: 5px;
	overflow: hidden;
	background-color: #ccc;
	text-align: center;
}

#divEditor
{
	width: 100%;
	height: calc(100% - 130px);
	overflow-x: hidden;
	overflow-y: scroll;
}

#svgEditor
{
	width: 100%;
}

.toolboxLabel
{
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

.toolboxButton
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #fff;
	border: 0;
	border-top: 2px solid #fff;
	border-bottom: 2px solid black;
	border-radius: 10px;
	box-shadow: 5px;
	outline: none;
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

.toolboxButton:hover
{
	cursor: pointer;
}

.toolboxButton:active
{
	cursor: pointer;
	background-color: #ddd;
	border: 0;
	border-top: 2px solid black;
	border-bottom: 2px solid #ddd;
}

.toolboxButtonPlay
{
	font-size: 24px;
	width: 110px;
	height: 60px;
}

.toolboxButtonRewind
{
	height: 40px;
}

.toolboxInput
{
	margin-top: 5px;
	margin-bottom: 5px;
	border: 0;
	border-radius: 10px;
	outline: none;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-align: center;
	width: 60px;
	height: 20px;
}

.editorBlockBackground
{
	stroke-width: 0px;
	fill: #eee;
}

.editorBlockSelection
{
	stroke-width: 0px;
	fill: rgba(0, 0, 255, 0.25);
}

.editorBlockFrame
{
	stroke: #666;
	stroke-width: 2px;
	fill: rgba(0, 0, 0, 0);
}

.editorBeat
{
	stroke: #fff;
	stroke-width: 2px;
}

.editorDegree0
{
	stroke-width: 0px;
	fill: #f00;
}

.editorDegree0Selected
{
	stroke-width: 2px;
	stroke: #f00;
	fill: #fcc;
}

.editorDegree1
{
	stroke-width: 0px;
	fill: #f40;
}

.editorDegree1Selected
{
	stroke-width: 2px;
	stroke: #f40;
	fill: #fed;
}

.editorDegree2
{
	stroke-width: 0px;
	fill: #f80;
}

.editorDegree2Selected
{
	stroke-width: 2px;
	stroke: #f80;
	fill: #fed;
}

.editorDegree3
{
	stroke-width: 0px;
	fill: #fa0;
}

.editorDegree3Selected
{
	stroke-width: 2px;
	stroke: #fa0;
	fill: #fed;
}

.editorDegree4
{
	stroke-width: 0px;
	fill: #fd0;
}

.editorDegree4Selected
{
	stroke-width: 2px;
	stroke: #fd0;
	fill: #fed;
}

.editorDegree5
{
	stroke-width: 0px;
	fill: #0d0;
}

.editorDegree5Selected
{
	stroke-width: 2px;
	stroke: #0d0;
	fill: #dfd;
}

.editorDegree6
{
	stroke-width: 0px;
	fill: #068;
}

.editorDegree6Selected
{
	stroke-width: 2px;
	stroke: #068;
	fill: #def;
}

.editorDegree7
{
	stroke-width: 0px;
	fill: #00f;
}

.editorDegree7Selected
{
	stroke-width: 2px;
	stroke: #00f;
	fill: #ddf;
}

.editorDegree8
{
	stroke-width: 0px;
	fill: #40f;
}

.editorDegree8Selected
{
	stroke-width: 2px;
	stroke: #40f;
	fill: #edf;
}

.editorDegree9
{
	stroke-width: 0px;
	fill: #80f;
}

.editorDegree9Selected
{
	stroke-width: 2px;
	stroke: #80f;
	fill: #edf;
}

.editorDegree10
{
	stroke-width: 0px;
	fill: #a0f;
}

.editorDegree10Selected
{
	stroke-width: 2px;
	stroke: #a0f;
	fill: #edf;
}

.editorDegree11
{
	stroke-width: 0px;
	fill: #f0f;
}

.editorDegree11Selected
{
	stroke-width: 2px;
	stroke: #f0f;
	fill: #fdf;
}

.editorChordBackground
{
	stroke-width: 0px;
	fill: white;
}

.editorChordLabel
{
	fill: black;
	font-family: Verdana, sans-serif;
	font-size: 20px;
	text-anchor: middle;
	alignment-baseline: central;
}

.editorChordLabelSuperscript
{
	fill: black;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-anchor: middle;
	alignment-baseline: central;
	baseline-shift: super;
}

.editorMeterHandle
{
	fill: #0af;
	stroke-width: 0px;
}

.editorMeterHandleSelected
{
	stroke: #0af;
	stroke-width: 2px;
	fill: #aef;
}

.editorMeterLine
{
	stroke: #0af;
	stroke-width: 2px;
}

.editorMeterLabel
{
	fill: #0af;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-anchor: left;
	alignment-baseline: middle;
}

.editorKeyHandle
{
	fill: #f04;
	stroke-width: 0px;
}

.editorKeyHandleSelected
{
	stroke: #f04;
	stroke-width: 2px;
	fill: #fad;
}

.editorKeyLine
{
	stroke: #f04;
	stroke-width: 2px;
}

.editorKeyLabel
{
	fill: #f04;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-anchor: left;
	alignment-baseline: middle;
}

.editorCursor
{
	stroke: blue;
	stroke-width: 2px;
}

.editorCursorGhost
{
	stroke: rgba(0, 0, 255, 0.25);
	stroke-width: 2px;
}

.editorCursorPlayback
{
	stroke: red;
	stroke-width: 2px;
}