html
{
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body
{
	height: 100%;
	min-height: 100%;
	margin: 0;
}

#divToolbox
{
	width: 100%;
	height: 130px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;
	background-color: #ddd;
	text-align: center;
}

#tableToolboxMainLayout
{
	height: 120px;
}

#divEditor
{
	width: 100%;
	height: calc(100% - 130px);
	overflow-x: hidden;
	overflow-y: scroll;
}

#svgEditor
{
	width: 100%;
}

.toolboxGroup
{
	padding-left: 10px;
	padding-right: 10px;
	background-color: #ccc;
	border-radius: 5px;
}

.toolboxGroup2
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #bbb;
	border-radius: 5px;
}

.toolboxSeparator
{
	border-left: 1px solid black;
}

.toolboxGroupMainTabs
{
	width: 100px;
}

.toolboxLabel
{
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

.toolboxButton
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #fff;
	border: 0;
	border-top: 2px solid #fff;
	border-bottom: 2px solid black;
	border-radius: 5px;
	outline: none;
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

.toolboxButton:hover
{
	cursor: pointer;
}

.toolboxButton:active
{
	cursor: pointer;
	background-color: #ddd;
	border: 0;
	border-top: 2px solid black;
	border-bottom: 2px solid #ddd;
}

.toolboxButtonPlay
{
	font-size: 24px;
	width: 120px;
	height: 60px;
}

.toolboxMainTabSelected
{
	position: relative;
	left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #ccc;
	border: 2px solid #ccc;
	border-radius: 5px;
	outline: none;
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

.toolboxButtonRewind
{
	height: 40px;
}

.toolboxChord
{
	width: 40px;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #fff;
	border: 0;
	border-top: 2px solid #fff;
	border-bottom: 2px solid black;
	border-radius: 5px;
	outline: none;
	overflow: hidden;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-align: center;
}

.toolboxChord:hover
{
	cursor: pointer;
}

.toolboxChord:active
{
	cursor: pointer;
	background-color: #ddd;
	border: 0;
	border-top: 2px solid black;
	border-bottom: 2px solid #ddd;
}

.toolboxInput
{
	margin-top: 5px;
	margin-bottom: 5px;
	border: 0;
	border-radius: 5px;
	outline: none;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-align: center;
	width: 60px;
	height: 20px;
}

.toolboxCheckbox
{
}

.editorBlockBackground
{
	stroke-width: 0px;
	fill: #eee;
}

.editorBlockSelection
{
	stroke-width: 0px;
	fill: rgba(0, 0, 255, 0.25);
}

.editorBlockFrame
{
	stroke: #666;
	stroke-width: 2px;
	fill: rgba(0, 0, 0, 0);
}

.editorBeat
{
	stroke: #fff;
	stroke-width: 2px;
}

.editorDegree
{
	stroke-width: 0px;
	fill: #888;
}

.editorDegreeSelected
{
	stroke-width: 2px;
	stroke: #888;
	fill: #eee;
}

.editorChordBackground
{
	stroke-width: 0px;
	fill: white;
}

.editorChordLabel
{
	fill: black;
	font-family: Verdana, sans-serif;
	font-size: 20px;
	text-anchor: middle;
	alignment-baseline: central;
}

.editorChordLabelSuperscript
{
	fill: black;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-anchor: middle;
	alignment-baseline: central;
	baseline-shift: super;
}

.editorMeterHandle
{
	fill: #0af;
	stroke-width: 0px;
}

.editorMeterHandleSelected
{
	stroke: #0af;
	stroke-width: 2px;
	fill: #aef;
}

.editorMeterLine
{
	stroke: #0af;
	stroke-width: 2px;
}

.editorMeterLabel
{
	fill: #0af;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-anchor: left;
	alignment-baseline: middle;
}

.editorKeyHandle
{
	fill: #f04;
	stroke-width: 0px;
}

.editorKeyHandleSelected
{
	stroke: #f04;
	stroke-width: 2px;
	fill: #fad;
}

.editorKeyLine
{
	stroke: #f04;
	stroke-width: 2px;
}

.editorKeyLabel
{
	fill: #f04;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	text-anchor: left;
	alignment-baseline: middle;
}

.editorCursor
{
	stroke: blue;
	stroke-width: 2px;
}

.editorCursorGhost
{
	stroke: rgba(0, 0, 255, 0.25);
	stroke-width: 2px;
}

.editorCursorPlayback
{
	stroke: red;
	stroke-width: 2px;
}